<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aconex.dao.vendor.VendorDao">
    <!--    result maps     -->
    <resultMap id="vendorMap" type="Vendor" >
        <id column="id" property="id"  />
        <result column="NAME" property="name" />
    </resultMap>


    <select id="getVendorList" resultMap="vendorMap">
        SELECT
        ID,
        NAME
        FROM
        vendor
    </select>

</mapper>